<div class='ajax' title='Ajax'>{% include svg/icons/signal.svg %}</div>
<div class='updated' title='Updated'>{% include svg/icons/updated.svg %}</div>
<div class='behind' title='Behind'>{% include svg/icons/update.svg %}</div>
<div class='admin' title='Admin'>{% include svg/icons/lock.svg %}</div>
<div class='unlogged' title='Unlogged'>{% include svg/icons/unlogged.svg %}</div>
<div class='logged' title='Logged'>{% include svg/icons/logged.svg %}</div>
<div class='mobile' title='Mobile'>{% include svg/icons/mobile.svg %}</div>
<div class='fullscreen' title='Fullscreen'>{% include svg/icons/fullscreen.svg %}</div>
<div class='desktop' title='Desktop'>{% include svg/icons/desktop.svg %}</div>
<div class='fork' title='Fork'>{% include svg/icons/fork.svg %}</div>
<div class='online' title='Online'>{% include svg/icons/online.svg %}</div>
<div class='offline' title='Offline'>{% include svg/icons/offline.svg %}</div>
<div class='debug' title='Debug'>{% include svg/icons/debug.svg %}</div>
<div class='blur' title='Blur'>{% include svg/icons/not-eye.svg %}</div>
<div class='focus' title='Focus'>{% include svg/icons/eye.svg %}</div>