<div class='ajax' title='Ajax'>REQ</div>
<div class='updated' title='Updated'>UPD</div>
<div class='behind' title='Behind'>BEH</div>
<div class='admin' title='Admin'>ADM</div>
<div class='unlogged' title='Unlogged'>UNL</div>
<div class='logged' title='Logged'>LOG</div>
<div class='mobile' title='Mobile'>MOB</div>
<div class='fullscreen' title='Fullscreen'>FUL</div>
<div class='desktop' title='Desktop'>DSK</div>
<div class='fork' title='Fork'>FRK</div>
<div class='online' title='Online'>ONL</div>
<div class='offline' title='Offline'>OFL</div>
<div class='debug' title='Debug'>DEB</div>
<div class='blur' title='Blur'>BLR</div>
<div class='focus' title='Focus'>FOC</div>