<div class='ajax' title='ajax'>{% include svg/icons/signal.svg %}</div>
<div class='updated' title='updated'>{% include svg/icons/updated.svg %}</div>
<div class='behind' title='behind'>{% include svg/icons/update.svg %}</div>
<div class='admin' title='admin'>{% include svg/icons/lock.svg %}</div>
<div class='unlogged' title='unlogged'>{% include svg/icons/unlogged.svg %}</div>
<div class='logged' title='logged'>{% include svg/icons/logged.svg %}</div>
<div class='mobile' title='mobile'>{% include svg/icons/mobile.svg %}</div>
<div class='fullscreen' title='fullscreen'>{% include svg/icons/fullscreen.svg %}</div>
<div class='desktop' title='desktop'>{% include svg/icons/desktop.svg %}</div>
<div class='fork' title='fork'>{% include svg/icons/fork.svg %}</div>
<div class='online' title='online'>{% include svg/icons/online.svg %}</div>
<div class='offline' title='offline'>{% include svg/icons/offline.svg %}</div>
<div class='debug' title='debug'>{% include svg/icons/debug.svg %}</div>
<div class='blur' title='blur'>{% include svg/icons/not-eye.svg %}</div>
<div class='focus' title='focus'>{% include svg/icons/eye.svg %}</div>