@font-face
  font-family: '7segment'
  src: url('fonts/7segment.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MicrogrammaBold'
  src: url('fonts/MicrogrammaEFExtendBold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MicrogrammaMedium'
  src: url('fonts/MicrogrammaEFExtendMedium.ttf') format('truetype')
  font-weight: normal
  font-style: normal
