@font-face
  font-family: '7segment'
  src: url('fonts/7segment.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// MICROGRAMMA
// -----------
@font-face
  font-family: 'MicrogrammaBold'
  src: url('fonts/MicrogrammaEFExtendBold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MicrogrammaMedium'
  src: url('fonts/MicrogrammaEFExtendMedium.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// LEKTON
// ------
@font-face
  font-family: 'Lekton'
  src: url('fonts/Lekton-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'LektonBold'
  src: url('fonts/Lekton-Bold.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'LektonItalic'
  src: url('fonts/Lekton-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: normal
