.wrapper
  margin: auto
.hidden
  display: none
.inline
  display: inline
.inline-block
  display: inline-block
.flex
  display: flex
.column
  flex-direction: column
.width-fit
  width: fit-content
.height-fit
  height: fit-content
.no-appearance
  appearance: none
  -webkit-appearance: none
.wrapper
  max-width: 600px
  margin: 0 auto

.aside, .pagination
  @extend .flex, .wrapper
  gap: 1.2em
.pagination
  justify-content: space-between

header > div
  @extend .wrapper, .flex
  justify-content: right
  align-items: center
  gap: .4em

#nav-admin,
#status
  @extend .flex
  justify-content: flex-end
  gap: .4em

#bottom
  z-index: 100
  position: fixed
  right: 0
  bottom: 0
  padding: 1em

form
  padding: .3em
  [data-input] + [data-input]:not(:last-of-type)
    margin-bottom: .5em

label[for]
  display: block
  padding: 0 .1em .2em .1em

// RADIO TYPE
.radio-container
  @extend .flex
  gap: .2em
  + .description
    padding-top: .1em

.mpz
  margin: 0
  padding: 0
.margin-vertical
  margin: 1em 0
.margin-vertical-half
  margin: .5em 0
.padding-layout
  padding: var(--padding-layout)
.padding-layout-small
  padding: var(--padding-layout-small)
.padding-small
  padding: var(--padding-small)

.box
  @extend .inline-block, .border-radius, .padding-small
  border-width: var(--border-width)
  border-style: var(--border-style)
  margin: .2em 0
  &:not(.border)
    border-color: transparent