.font-family
  font-family: var(--font-family)

// Refer to _sass/fonts.sass
.ff-segment7
  font-family: '7segment' !important
.ff-micro
  font-family: 'MicrogrammaMedium' !important
.ff-micro-bold
  font-family: 'MicrogrammaBold' !important
.ff-lekton
  font-family: 'Lekton' !important
  // padding-block: 7px 2px !important
.ff-lekton-bold
  font-family: 'LektonBold' !important
.ff-lekton-italic
  font-family: 'LektonItalic' !important

// Font Sizes
.font-size
  font-size: var(--font-size)
.font-size-2
  font-size: 2em
.font-size-small
  font-size: var(--font-size-small)
.font-size-smaller
  font-size: var(--font-size-smaller)
.uppercase
  text-transform: uppercase
p, dl
  margin: .5em 0
time
  span:last-child
    cursor: default
    text-decoration: underline dotted var(--dim)
  &.today span:last-child
    text-decoration-color: var(--success)
  &.tomorrow span:last-child
    text-decoration-color: var(--info)
  &.yesterday span:last-child
    text-decoration-color: var(--action)

.descriptions, .description, [data-input='message']
  display: block
  @extend .fg-dim, .font-size-smaller

#status div
  @extend .ff-micro, .fg-dim
  font-size: 15px
  letter-spacing: 2px
  min-width: 3em

.aside .icon,
.pagination > div time,
.pagination > div .icon
  @extend .fg-dim, .font-size-smaller
.pagination div .icon:hover
  @extend .fg