{% assign now = site.time | date: "%s" %}
{% assign dayms = 86400 %}
{% assign monthms = dayms | times: 30 %}

{% assign pre = include.pre | default: 1 %}
{% assign prenegative = pre | times: -30 %}
{% assign pregap = pre | times: monthms %}
{% assign post = include.post | default: 1 %}
{% assign postgap = post | times: monthms %}
{% assign start = now | minus: pregap | date: "%Y-%m-%d" %}
{% assign stop = now | plus: postgap | date: "%Y-%m-%d" %}
{% if include.postmonth %}
  {% assign gap = include.postmonth | times: monthms %}
  {% assign limitday = now | plus: gap %}
  {% assign next = limitday | plus: monthms %}
  {% assign nm = next | date: "%m" %}
  {% assign ny = next | date: "%Y" %}
  {% assign last = ny | append: "-" | append: nm | append: "-01" | date: "%Y-%m-%d" | date: "%s" | minus: dayms %}
  {% assign pre = 0 %}
  {% assign prenegative = 0 %}
  {% assign post = include.postmonth %}
  {% assign start = now | date: "%Y-%m-%d" %}
  {% assign stop = last | date: "%Y-%m-%d" %}
{% endif %}
{% if include.premonth %}
  {% assign gap = include.premonth | times: monthms %}
  {% assign limitday = now | minus: gap %}
  {% assign mm = limitday | date: "%m" %}
  {% assign yy = limitday | date: "%Y" %}
  {% assign prev = yy | append: "-" | append: mm | append: "-01" | date: "%Y-%m-%d" | date: "%s" %}
  {% assign pre = inclue.premonth %}
  {% assign prenegative = prev | minus: now | divided_by: dayms %}
  {% assign post = 0 %}
  {% assign start = prev | date: "%Y-%m-%d" %}
  {% assign stop = now | date: "%Y-%m-%d" %}
{% endif %}
{% assign boxside = 17 %}
{% assign boxborder = 1 %}
{% assign boxgap = 1 %}
{% assign fontsize = 10 %}
{% assign bordertotal = boxborder | times: 2 %}
{% assign boxtotal = boxside | plus: bordertotal | plus: boxgap %}
{% assign halfboxside = boxside | plus: boxborder | divided_by: 2 %}
{% assign monthgap = boxtotal | divided_by: 2 %}
{% assign monthwidth = boxtotal | times: 7 | plus: monthgap %}
{% assign width = pre | plus: post | plus: 1 | times: monthwidth %}
{% assign height = boxtotal | times: 5 %}
{% assign zoom = include.zoom | default: 2 %}
{% assign xmonth = 0 %}
{% assign nowmonth = start | date: "%m" %}
<svg width="{{ width | times: zoom }}" height="{{ height | times: zoom }}" viewBox="0 0 {{ width }} {{ height }}" class='calendar month'>
{% for day in (prenegative..post) %}
{% assign msgap = day | times: dayms %}
{% assign data = site.time | date: "%s" | plus: msgap | date: "%F" %}
{% assign weekday = data | date: "%w" | plus: 0 %}
{% if weekday == 0 %}{% assign weekday = 7 %}{% endif %}
{% assign x = weekday | minus: 1 | times: boxtotal | plus: boxborder %}
{% assign month = data | date: '%m' %}
{% if month != nowmonth %}{% assign nowmonth = month %}{% assign xmonth = xmonth | plus: monthwidth %}
{% endif %}
{% assign year = data | date: '%Y' %}
{% assign offset = "01-" | append: month | append: "-" | append: year | date: "%d-%m-%Y" | date: "%w" | plus: 0 %}
{% if offset == 0 %}{% assign offset = 7 %}{% endif %}
{% assign newday = data | date: "%-d" | plus: offset | minus: 1 | divided_by: 7.0 %}
{% if newday <= 1 %}{% assign y = 0 %}
{% elsif newday <= 2 %}{% assign y = boxtotal %}
{% elsif newday <= 3 %}{% assign y = boxtotal | times: 2 %}
{% elsif newday <= 4 %}{% assign y = boxtotal | times: 3 %}
{% elsif newday <= 5 %}{% assign y = boxtotal | times: 4 %}
{% endif %}
{% assign y = y | plus: boxborder %}
<rect width="{{ boxside }}" height="{{ boxside }}" x="{{ x | plus: xmonth }}" y="{{ y }}" rx="2" ry="2" class="day" stroke-width='{{ boxborder }}' datetime='{{ data }}' data-weekday='{{ weekday }}'></rect>
<text x="{{ x | plus: xmonth | plus: halfboxside | minus: 1 }}" y="{{ y | plus: halfboxside | plus: 0.5 }}" style='font: normal {{ fontsize }}px sans-serif;'>{{ data | date: "%-d" }}</text>
<rect width="{{ boxside }}" height="{{ boxside }}" x="{{ x | plus: xmonth }}" y="{{ y }}" rx="2" ry="2" class="day-hover" stroke-width='{{ boxborder }}' datetime='{{ data }}' data-weekday='{{ weekday }}'><title>{{ data | date: "%a %-d %b %Y" }}</title></rect>
{% endfor %}
</svg>
{%- capture api -%}
Render a svg calendar by week rows.

Options
- `pre` months pre today to start
- `post` months post today to show
- `zoom` multiplication factor for box (side 17px, stroke 1px) and 3px apart (default = 2)
{%- endcapture -%}