details
  @extend .border-subtle, .border-bottom, .font-size-small
  border-style: dashed
  // margin-bottom: 1em
  padding: .5em
  summary
    @extend .link, .padding-small, .width-fit
    &::marker
      color: var(--fg)
    &:hover
      color: var(--fg)
      text-decoration: none
    &:active,
    &:active::marker
      color: var(--dim)