fieldset
  @extend .bg-subtle, .border-radius, .margin-vertical, .width-fit, .height-fit
  padding: 0em .3em .3em .3em
  border-color: transparent
  legend
    @extend .fg-dim, .bg
    padding: .1em .3em

nav.nav-main fieldset, fieldset.input
  @extend .inline, .bg, .border-dim
  margin: 0
  legend
    @extend .uppercase, .bg, .border-radius
  &:has([aria-current])
    @extend .border