//
// HEX
//
.hexmap
  .hexagon
    fill: transparent
    stroke: var(--gry)
    stroke-width: 1px
  &[data-distance='0'] .hexagon
    stroke: var(--red)
  // TEXT
  text
    cursor: default
    // Center horizontally and vertically
    text-anchor: middle
    dominant-baseline: middle
    fill: var(--dim)
    // MicrogrammaMedium
    @extend .ff-micro, .fg
    font-size: 10px
    transform: translateY(1px)
.map-overlay text
  @extend .ff-lekton, .fg
  font-size: 13px