a, .link
  cursor: pointer
  text-decoration: none
  color: var(--link)
  &:hover
    color: var(--fg)
    text-decoration: underline
  &:active
    color: var(--dim)
  &[aria-current='page']
    @extend .fg

// Header
nav.nav-main fieldset a
  padding: 0 .2em
  @extend .font-family

// Footer
footer nav a
  @extend .width-fit, .fg-dim
  display: block