a, .link
  cursor: pointer
  text-decoration: none
  color: var(--link)
  &:hover
    color: var(--fg)
    text-decoration: underline
  &:active
    color: var(--dim)

// Header
header + nav fieldset a
  padding: 0 .2em
  @extend .font-family
  &[aria-current='page']
    @extend .fg

// Footer
footer nav a
  @extend .width-fit, .fg-dim
  display: block