.icon
  // Pagination icons
  &[rel] svg
    width: 1em
    height: 1em
    transform: translateY(3px)
  // Aside icons
  svg
    fill: var(--dim)
    width: auto
    height: 1em
    vertical-align: bottom

// Icon buttons
fieldset#nav-admin
  margin-left: auto
  a
    line-height: 1
    padding: 0
    svg
      fill: var(--link)
    &[aria-current='page'] svg
      fill: var(--info)
    &:hover svg, a:focus svg
      fill: var(--fg)
    &:active svg
      fill: var(--dim)

// Settings icon
.icon-small
  svg
    fill: var(--fg)
    height: .9em
    margin: 0
  &[aria-current='page'] svg
    fill: var(--fg)